<footer class="footer">
  <div class="container">
    View this page on <a href="https://github.com/{{ site.github.repository_nwo }}/blob/master/{{ page.path }}">GitHub</a>
    <a href="https://twitter.com/{{ site.twitter_username }}" class="social"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>
    <a href="https://twitch.tv/{{ site.twitch_username }}" class="social"><i class="fa fa-lg fa-twitch" aria-hidden="true"></i></a>
    <a href="https://facebook.com/{{ site.facebook_username }}" class="social"><i class="fa fa-lg fa-facebook-official" aria-hidden="true"></i></a>
    <a href="https://linkedin.com/groups/{{ site.linkedin_id }}" class="social"><i class="fa fa-lg fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://instagram.com/{{ site.instagram_username }}" class="social"><i class="fa fa-lg fa-instagram" aria-hidden="true"></i></a>
    <a href="https://github.com/{{ site.github_username }}" class="social"><i class="fa fa-lg fa-github" aria-hidden="true"></i></a>
    Copyright &copy; 2017<script>new Date().getFullYear()>2017&&document.write("-"+new Date().getFullYear());</script>, Triangle Fraternity at Michigan Technological University
  </div>
</footer>
