<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <span>View this page on <a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}">GitHub</a></span>
      </div>
      <div class="col-md-6">
        <span class="copyright">Copyright &copy; 2017<script>new Date().getFullYear()>2017&&document.write("-"+new Date().getFullYear());</script>, Triangle Fraternity at Michigan Technological University</span>
      </div>
      <div class="col-md-3">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-lg fa-twitter text-center" aria-hidden="true"></i></a>
          </li><li class="list-inline-item">
            <a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-lg fa-facebook-official text-center" aria-hidden="true"></i></a>
          </li><li class="list-inline-item">
            <a href="https://instagram.com/{{ site.instagram_username }}"><i class="fa fa-lg fa-instagram text-center" aria-hidden="true"></i></a>
          </li><li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-lg fa-github text-center" aria-hidden="true"></i></a>
          </li><li class="list-inline-item">
            <a href="https://linkedin.com/groups/{{ site.linkedin_id }}"><i class="fa fa-lg fa-linkedin-square text-center" aria-hidden="true"></i></a>
          </li><li class="list-inline-item">
            <a href="https://twitch.tv/{{ site.twitch_username }}"><i class="fa fa-lg fa-twitch text-center" aria-hidden="true"></i></a>
          </li><li class="list-inline-item">
            <a href="{% link feed.xml %}"><i class="fa fa-lg fa-rss text-center" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
