<header class="header">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark rounded mb-3">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav w-120">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="events" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
          <div class="dropdown-menu" aria-labelledby="events">
            {% for event in site.events %}
            <a class="dropdown-item" href="{{ event.url }}">{{event.title}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% link about.md %}">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
