<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title>{{ page.title | default: site.title }}</title>

  {% assign front-page = site.pages | where: 'name', 'index.md' | first %}

  <!-- facebook open graph tags -->
  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}"/>
  <meta property="og:title" content="{{ page.title | default: site.title | escape | capitalize }}"/>
  <meta property="og:url" content="{{ page.url | absolute_url }}"/>
  <meta property="og:site_name" content="{{ site.title | escape  capitalize}}"/>
  <meta property="og:image" content="{{ page.cover-images[0].image-link | default: page.cover-images[0] | default: front-page.cover-images[0].image-link }}"/>

  <!-- twitter card tags additive with the og: tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:domain" content="{{ site.url }}"/>
  <meta name="twitter:url" content="{{ page.url | absolute_url }}"/>
  <meta name="twitter:title" content="{{ page.title | default: site.title | escape | capitalize }}"/>
  <meta name="twitter:image" content="{{ page.cover-images[0].image-link | default: page.cover-images[0] | default: front-page.cover-images[0].image-link }}"/>

  <!-- Description metadata is something else... -->
  {% if page.excerpt and page.excerpt != page.content %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | normalize_whitespace | escape }}"/>
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | normalize_whitespace | escape }}"/>
  {% else %}
  <meta property="og:description" content="{{ site.description | strip_html | normalize_whitespace | escape }}"/>
  <meta name="twitter:description" content="{{ site.description | strip_html | normalize_whitespace | escape }}"/>
  {% endif %}

  <!-- Atom feed information -->
  {% feed_meta %}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Site specific CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" type='text/css'>

  <!-- Some fonts that might or might not be used -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>
