<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{% link index.md %}">Triangle Fraternity at Michigan Tech</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active"> -->
        <li class="nav-item">
          <a class="nav-link" href="{% link index.md %}">Home<!-- <span class="sr-only">(current)</span>--></a>
        </li>
        {% if site.posts.size > 0 %}
        <li class="nav-item">
          <a class="nav-link" href="{% link blog/index.html %}">Blog</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="events" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
          <div class="dropdown-menu" aria-labelledby="events">
            {% for event in site.events %}
            <a class="dropdown-item" href="{{ event.url }}">{{event.title}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% link actives.md %}" id="involved" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Involved</a>
          <div class="dropdown-menu" aria-labelledby="involved">
            <a class="dropdown-item" href="{% link actives.md %}">Actives</a>
            <a class="dropdown-item" href="{% link alumni.md %}">Alumni</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% link history.md %}" id="about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu" aria-labelledby="about">
            <a class="dropdown-item" href="{% link history.md %}">History</a>
            <a class="dropdown-item" href="{% link operations.md %}">Operations</a>
            <a class="dropdown-item" href="{% link contact.md %}">Contact</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
