{% if site.spotlights.size > 0 %}
<div id="spotlights" class="carousel slide {{ include.classes }}" data-ride="carousel" data-interval="10000">
  <div class="carousel-inner">
    {% for s in site.spotlights %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top rounded-circle mb-3 img-thumbnail" src="{{ s.cover-image }}" style="width:200;height:200">
          <h4 class="card-title">{{ s.title }}</h4><h6 class="card-title">{% if s.init-year %}<em>-mtu{{ s.init-year }}</em>{% endif %}</h6>
          <p class="card-text">{{ s.content | truncate: 160 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
