<div class="media member-spotlight mb-3">
  <img class="align-self-start mr-3" src="{{ include.cover-image}}" alt="spotlight image of {{ include.name }}">
  <div class="media-body">
    <h5 class="mt-0">{{ include.name }}{% if include.init-year %} <em>-mtu{{ include.init-year }}</em>{% endif %}</h5>
    <h6 class="subtitle text-muted">{{ include.position }}</h6>
    {{ include.content | markdownify }}
    <ul class="list-inline social-buttons">
      {% if include.twitter_username %}
      <li class="list-inline-item">
        <a href="https://twitter.com/{{ include.twitter_username }}"><i class="fa fa-twitter text-center" aria-hidden="true"></i></a>
      </li>
      {% endif %}
      {% if include.facebook_username %}
      <li class="list-inline-item">
        <a href="https://facebook.com/{{ include.facebook_username }}"><i class="fa fa-facebook-official text-center" aria-hidden="true"></i></a>
      </li>
      {% endif %}
      {% if include.instagram_username %}
      <li class="list-inline-item">
        <a href="https://instagram.com/{{ include.instagram_username }}"><i class="fa fa-instagram text-center" aria-hidden="true"></i></a>
      </li>
      {% endif %}
      {% if include.github_username %}
      <li class="list-inline-item">
        <a href="https://github.com/{{ include.github_username }}"><i class="fa fa-github text-center" aria-hidden="true"></i></a>
      </li>
      {% endif %}
      {% if include.linkedin_id %}
      <li class="list-inline-item">
        <a href="https://linkedin.com/in/{{ include.linkedin_id }}"><i class="fa fa-linkedin-square text-center" aria-hidden="true"></i></a>
      </li>
      {% endif %}
      {% if include.twitch_username %}
      <li class="list-inline-item">
        <a href="https://twitch.tv/{{ include.twitch_username }}"><i class="fa fa-twitch text-center" aria-hidden="true"></i></a>
      </li>
      {% endif %}
      {% if include.email_address %}
      <li class="list-inline-item">
        <a href="mailto:{{ include.email_address }}"><i class="fa fa-envelope text-center" aria-hidden="true"></i></a>
      </li>
      {% endif %}
      {% if include.homepage %}
      <li class="list-inline-item">
        <a href="mailto:{{ spotlight.homepage }}"><i class="fa fa-home text-center" aria-hidden="true"></i></a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
