{% if page.timeline %}
{%- assign timeline = page.timeline | reverse -%}
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Story</h2>
        <h3 class="section-subheading text-muted">Major events for {{ site.title }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          {% for t in timeline %}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if forloop.first == true %}
          <li>
            <a href="{% link active.md %}">
              <div class="timeline-image">
                <h4>Be Part
                <br>Of Our
                <br>Story!</h4>
              </div>
            </a>
          </li>
          {% endif %}
          <li {% if mod == 0 && !forloop.last %}class="timeline-inverted"{% endif %}>
            {% if t.url %}
            <a href="{{ t.url }}">
            {% endif %}
              {% if t.image %}
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{{ t.image }}" alt="timeline image {{ forloop.index }}">
              </div>
              {% endif %}
            {% if t.url %}
            </a>
            {% endif %}
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{{ t.header }}</h4>
                <h6 class="subheading">{{ t.date }}</h6>
              </div>
              <div class="timeline-body">
                <div class="text-muted">{{ t.caption | markdownify}}</div>
              </div>
            </div>
          </li>
          {% if forloop.last == true %}
          <li {% if mod == 1 %}class="timeline-inverted"{% endif %}>
            <div class="timeline-image">
              <h4>Universe<br/>was<br/>created</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Universe was created</h4>
                <h6 class="subheading">The beginning</h6>
              </div>
              <div class="timeline-body">
                <div class="text-muted">"In the beginning the Universe was created. This had made many people very angry and has been widely regarded as a bad move."<br>- Douglas Adams</div>
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endif %}
