.event-content {
  text-align: center;

  @media(min-width:768px) {
      h1, h2, h3, h4, h5, h6 {
        padding: 10px 15px 5px;
      }

      p {
        padding: 0px 15px;
      }
      .featured-content {
        margin: 0px 15px;
      }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: auto auto;
  }

  p {
    margin: auto auto;
  }

  .featured-content {
    text-align: left;

    h1, h2, h3, h4, h5, h6 {

    }
    p {

    }
  }

  section {
    text-align: center;
    color: $white;

    h1, h2, h3, h4, h5, h6 {
      text-shadow: 0px 0px 10px $black;
    }
    p {
      text-shadow: 0px 0px 8px $black;
    }
    a {
      text-shadow: 0px 0px 8px $black;
    }
    .btn {
      margin: 10px 10px;
    }
  }
}
