.event-content {
  text-align: center;

  @media(min-width:768px) {
      h1, h2, h3, h4, h5, h6 {
        padding: 10px 15px 5px;
      }

      p {
        padding: 0px 15px;
      }
      .featured-content {
      }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
  }
}
