// Styling for the footer
footer {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  padding: 25px 0px;
  text-align: center;
  background-color: $secondary;

  span {
    font-size: 0.7rem;
    text-transform: none;
    @include heading-font;

    &.copyright {
      font-size: 0.6rem;
    }
  }

  ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    @include heading-font;
  }

  a {
    color: $triangle-yellow;
    font-weight: normal;
    text-decoration: none;
    &:hover {
      color: darken($triangle-yellow, 10%);
    }
  }
}

@media (min-width: 768px) {
  footer {
    height: 100px;
  }
}
