// Styling for the footer
footer {
  padding: 25px 0;
  text-align: center;
  background-color: $secondary;
  span.copyright {
    font-size: 80%;
    line-height: 40px;
    text-transform: none;
    @include heading-font;
  }
  ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    @include heading-font;
  }
  a {
    color: $triangle-yellow;
    font-weight: normal;
    text-decoration: none;
    &:hover {
      color: darken($triangle-yellow, 10%);
    }
  }
}
