// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;

  img {
    max-height: 40em;
  }

  .carousel {
    .carousel-inner {
      .carousel-caption {
        // background-color: rgba($gray-900, 0.5);
        // width: fit-content;

        h1, h2, h3, h4, h5, h6 {
          color: $white;
          text-shadow: 0px 0px 12px $black;
        }
        p {
          color: $white;
          text-shadow: 0px 0px 10px $black;
          font-size: 1.25rem;
        }
      }
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
