// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
// $black: #000 !default;

// http://www.triangle.org/visual-identity/
$triangle-old-rose: #8a1538 !default;
$triangle-gray: #7c878e !default;
$triangle-yellow: #ffd900 !default;
$triangle-light-gray: #d0d0ce !default;
$triangle-black: #000000 !default;

// http://www.mtu.edu/umc/resources/brand/index.html#palette
$husky-gold: #ffcd00 !default;
$husky-black: #000000 !default;
$husky-blue: #00bfd5 !default;
$husky-green: #6ca438 !default;
$husky-red: #ff4611 !default;
$husky-gray: #8a8b8c !default;

// $primary: #fed136 !default;
$primary: $triangle-old-rose !default;
$secondary: $triangle-gray !default;
$black: $triangle-black !default;
