/*
 * Triangle Colors
 */

.triangle-old-rose {
  background-color: #8a1538;
}

.triangle-gray {
  background-color: #7c878e;
}

.triangle-yellow {
  background-color: #ffd900;
}

.triangle-light-gray {
  background-color: #d0d0ce;
}

.triangle-black {
  background-color: #000000;
}

/*
 * Page header carousel
 */

/* Carousel base class */
#cover-image-carousel .carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
#cover-image-carousel .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  #cover-image-carousel .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

/* Declare heights because of positioning of img element */
#cover-image-carousel .carousel-item {
  height: 32rem;
  background-color: #777;
}

#cover-image-carousel .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/*
 * Pagination
 */

.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}
