<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}

  <body id="page-top">
    {% include navbar.html %}
    {% include carousel-header.html %}

    {% if site.posts.size >= 3 %}
    <section id="news">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Chapter News</h2>
            <h3 class="section-subheading text-muted">Recent updates about Triangle Fraternity at Michigan Tech.</h3>
          </div>
        </div>
        <div class="row">
          {% for post in site.posts %}
          <div class="col-lg-4">
            <div class="card mb-4 blog-post-preview">
              {% if post.cover-images %}
              <img class="card-img-top img-fluid" src="{{ post.cover-images[0] }}" alt="Spotlight image for {{ post.title }}" alt="featured image from post on {{ post.date | date_to_long_string }}">
              {% endif %}
              <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">
                {% if page.excerpt == page.content %}
                {{ post.content | remove_first: post.excerpt | truncatewords: 40 }}</p>
                {% else %}
                {{ post.excerpt | truncatewords: 40 }}
                {% endif %}
                </p>
                <a class="btn btn-primary float-right" href="{{ post.url }}" role="button">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
              </div>
              <div class="card-footer text-muted">
                <i class="fa fa-calendar" aria-hidden="true"></i> Posted on {{ post.date | date_to_string }}{% if post.author %} by {{ post.author }}{% endif %}
              </div>
            </div>
          </div>
          {% if forloop.index >= 3 %}
          {% break %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}

    <main role="main" class="container mt-3">
      {{ content }}
    </main>

    {% if site.spotlights.size >= 3 %}
    <section id="spotlights">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Membership Spotlights</h2>
            <h3 class="section-subheading text-muted">Testimonials from our membership, sharing their stories.</h3>
          </div>
        </div>
        <div class="container">
          <div class="row">
            {% for sl in site.spotlights %}
            <div class="col-lg-4">
              {% include spotlight-card.html spotlight=sl %}
            </div>
              {% if forloop.index >= 3 %}
                {% break %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
