<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}

  <body id="page-top">
    {% include navbar.html %}
    <header class="masthead">
    {% if page.cover-images %}
      <div id="cover-image-carousel" class="carousel slide" data-ride="carousel" data-interval="7500" data-pause="false">
        {% if page.cover-image-indicators and page.cover-images.size > 1 %}
        <ol class="carousel-indicators">
          {% for i in page.cover-images %}
          {% if i.image-link %}
          <li data-target="#cover-image-carousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
          {% endif %}
          {% endfor %}
        </ol>
        {% endif %}

        <div class="carousel-inner">
          {% for i in page.cover-images %}
          {% unless i.image-link %}
            {% continue %}
          {% endunless %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{i.image-link}}" class="img-fluid w-100" alt="home page cover image {{ forloop.index }}"/>
            {% if i.caption %}
            <div class="carousel-caption text-{{ i.caption.position | default: "left" }}">
              <h2>{{ i.caption.header }}</h2>
              <p>{{ i.caption.text }}</p>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>

        {% if page.cover-image-controls and page.cover-images.size > 1 %}
        <a class="carousel-control-prev" href="#cover-image-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#cover-image-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        {% endif %}
      </div>
      {% endif %}
    </header>

    {% if site.posts.size >= 3 %}
    <section id="news">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Chapter News</h2>
            <h3 class="section-subheading text-muted">Recent updates about Triangle Fraternity at Michigan Tech.</h3>
          </div>
        </div>
        <div class="row">
          {% for post in site.posts %}
          <div class="col-lg-4">
            <div class="card mb-4">
              <h4 class="card-header">{{ post.title }}</h4>
              {% if post.cover-images %}
              <img class="card-img-top img-fluid" src="{{ post.cover-images[0] }}" alt="Spotlight image for {{ post.title }}" style="width:750;height:300" alt="featured image from post on {{ post.date | date_to_long_string }}">
              {% endif %}
              <div class="card-body">
                <p class="card-text">
                {% if page.excerpt == page.content %}
                {{ post.content | remove_first: post.excerpt | truncatewords: 150 }}</p>
                {% else %}
                {{ post.excerpt | truncatewords: 150 }}
                {% endif %}
                </p>
                <p><a class="btn btn-primary" href="{{ post.url }}" role="button">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
              </div>
              <div class="card-footer text-muted">
                <i class="fa fa-calendar" aria-hidden="true"></i> Posted on {{ post.date | date_to_long_string }}{% if post.author %} by {{ post.author }}{% endif %}
              </div>
            </div>
          </div>
          {% if forloop.index >= 3 %}
          {% break %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}

    {% if page.timeline %}
    <section id="story">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Story</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              {% for t in page.timeline %}
              {% assign mod = forloop.index | modulo: 2 %}
              <li {% if mod == 0 %}class="timeline-inverted"{% endif %}>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{{ t.image }}" alt="timeline image {{ forloop.index }}">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>{{ t.date }}</h4>
                    <h4 class="subheading">{{ t.header }}</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">{{ t.caption }}</p>
                  </div>
                </div>
              </li>
              {% if forloop.last == true %}
              <li {% if mod == 1 %}class="timeline-inverted"{% endif %}>
                <div class="timeline-image">
                  <h4>Be Part
                    <br>Of Our
                    <br>Story!</h4>
                </div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>
    {% endif %}

    {% if site.spotlights.size > 3 %}
    </section id="spotlights">
      <div class="container">
        <div class="card-deck">
          {% for spotlight in site.spotlights %}
          <div class="card h-100 member-spotlight mb-4">
            <img class="card-img-top" src="{{ spotlight.cover-image}}" alt="spotlight image of {{ s.title }}">
            <div class="card-body">
              <h4 class="card-title">{{ spotlight.title }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ spotlight.position }}</h6>
              <p class="card-text">{{ spotlight.content }}</p>
            </div>
            <div class="card-footer">
              <ul class="list-inline social-buttons">
                {% if spotlight.twitter_username %}
                <li class="list-inline-item">
                  <a href="https://twitter.com/{{ spotlight.twitter_username }}"><i class="fa fa-twitter text-center" aria-hidden="true"></i></a>
                </li>
                {% endif %}
                {% if spotlight.facebook_username %}
                <li class="list-inline-item">
                  <a href="https://facebook.com/{{ spotlight.facebook_username }}"><i class="fa fa-facebook-official text-center" aria-hidden="true"></i></a>
                </li>
                {% endif %}
                {% if spotlight.instagram_username %}
                <li class="list-inline-item">
                  <a href="https://instagram.com/{{ spotlight.instagram_username }}"><i class="fa fa-instagram text-center" aria-hidden="true"></i></a>
                </li>
                {% endif %}
                {% if spotlight.github_username %}
                <li class="list-inline-item">
                  <a href="https://github.com/{{ spotlight.github_username }}"><i class="fa fa-github text-center" aria-hidden="true"></i></a>
                </li>
                {% endif %}
                {% if spotlight.linkedin_id %}
                <li class="list-inline-item">
                  <a href="https://linkedin.com/in/{{ spotlight.linkedin_id }}"><i class="fa fa-linkedin-square text-center" aria-hidden="true"></i></a>
                </li>
                {% endif %}
                {% if spotlight.twitch_username %}
                <li class="list-inline-item">
                  <a href="https://twitch.tv/{{ spotlight.twitch_username }}"><i class="fa fa-twitch text-center" aria-hidden="true"></i></a>
                </li>
                {% endif %}
                {% if spotlight.email_address %}
                <li class="list-inline-item">
                  <a href="mailto:{{ spotlight.email_address}}"><i class="fa fa-envelope text-center" aria-hidden="true"></i></a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
          {% if forloop.index >= 3 %}
          {% break %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}

    <main role="main" class="container mt-3">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
